<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieGoers</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div id="genres">
        <h2>Genres</h2>
        <form action="/">
          <label><input type="radio" name="genre" value="all" checked> All</label><br>
          {{ range .genres }}
            <label><input type="radio" name="genre" value="{{.Id}}"> {{.Name}}</label><br>
          {{ end }}
          <input type="submit" value="Choose">
        </form>
      </div>
    </div>
    <div class="main">
      <h1>Movies</h1>
      <div class="grid-container" id="movieGrid">
        {{  range $index, $movie := .movies }}
        <div
                class="movie"
                {{ if eq 19 $index }}
                  data-hx-get="/?page={{$.nextPage}}"
                  data-hx-trigger="revealed"
                  data-hx-swap="afterend"
                  data-hx-select="#movieGrid .movie"
                {{end}}
        >
          {{ if .PosterPath }}
            <img src="https://image.tmdb.org/t/p/w185/{{.PosterPath}}" alt="Movie poster">
          {{ else }}
            <img src="images/no_poster_available.jpg" alt="Movie poster missing">
          {{end}}
          <h3>{{.Title}}</h3>
          <p class="overview">{{.Overview}}</p>
        </div>
        {{ end }}
      </div>
      <a id="moreMovies" href="/?page={{.nextPage}}">More movies...</a>
    </div>
  </div>
</body>
</html>
